body {
  padding-top: 30px;
}

.navbar_container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.navbar {
  padding: 5px;
  height: 20px;
  color: #fff;
  background-color: #000;
  font-family: sans-serif;
  font-size: 14px;
}

.navbar a {
  color: #fff;
  font-family: sans-serif;
  font-size: 14px;
  text-decoration: none;
}

.navbar a:hover {
  color: #000;
  background-color: #fff;
}
