@import url(http://fonts.googleapis.com/css?family=Merienda|Bitter);

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img {
    border:0;
}
address,caption,cite,code,dfn,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym {
  border:0;
}

header, section, footer, aside, nav, article, figure {
  display: block;
}

/* ------------- */


body {
  color: #FCE67A;
  text-shadow: 1px 1px 0 #777;
  font-family: 'Bitter', cursive;
  font-size: 2em;
  line-height: 1.3em;
  background-color: #00CCFF;

  margin:0;
  text-align: center;
}

.container {
  clear: both;
  margin: 0 auto;
  width: 720px;
  /*text-align: left;*/
}

header {
}

h1 {
  font-size: 2.4em;
  line-height: 1em;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #CC0000;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #CC0000;
}

section {
  margin-bottom: 60px;
}

footer {
  margin-bottom: 30px;
}


a, a:link, a:visited, a:active, a:link {
  color: #FCE67A;
  text-decoration: none;
}
a:hover {
  color: #FCE67A;
  text-decoration: underline;
}



@-webkit-keyframes peek {
  0% {
    -webkit-transform: translateY(500px);
  }

  20% {
    -webkit-transform: translateY(500px);
  }

  100% {
    -webkit-transform: translateY(0px);
  }
}


@-webkit-keyframes dance {
  0% {
    -webkit-transform: rotateZ(   5deg ) translateX(0px) translateY(0px);
  }

  50% {
    -webkit-transform: rotateZ(   -5deg ) translateX(10px) translateY(-10px);
  }

  100% {
    -webkit-transform: rotateZ(   5deg ) translateX(0px) translateY(0px);
  }
}


@-webkit-keyframes flip {
  0% {
    -webkit-transform: rotateZ(   0deg ) scale(1.2);
  }

  50% {
    -webkit-transform: rotateZ(   180deg ) scale(4);
  }

  100% {
    -webkit-transform: rotateZ( 360deg) scale(1.2);
  }
}


.header_image {
  width:inherit;
  height:450px;
  overflow: hidden;
  z-index: -1;

  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);

  position: relative;

  background: #ffff88; /* Old browsers */
  background: -moz-linear-gradient(top, #ffff88 0%, #e1a0ff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffff88), color-stop(100%,#e1a0ff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffff88 0%,#e1a0ff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffff88 0%,#e1a0ff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffff88 0%,#e1a0ff 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffff88 0%,#e1a0ff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#e1a0ff',GradientType=0 ); /* IE6-9 */
}

.header_image img {
  position: absolute;
}

.header_image .background {
  position: absolute;
  height: 450px;
  width: 100%;
  background-image: url(/images/water.gif);
  //-webkit-animation: flip 4s infinite linear;
}

.header_image .frame {
  height: 450px;
  width: 100%;
}

.header_image .nick_container {
  position: absolute;
  -webkit-animation: peek 3s ease-in-out;
}

.header_image .nick {
  top: 30px;
  -webkit-animation: dance 10s infinite ease-in-out;
}


body.homepage nav {
  display: none;
}

body.homepage h1 {
  color: #fff;
}



.links {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid yellow;
}

.links section ul {
  text-align: center;
}




.preoccupations h3 {
  color: #fff;
  margin-top: 10px;
}
.preoccupations small {
  color: #555;
}


.projects img {
  width: 100%;
}
