<div class="links">

  <section>
    <h2>new happenings</h2>
    <ol>
      <li><a href="http://civicrush.com">here is my day job</a></li>
      <li><a href="http://eliriveire.com/">and, i'm going to marry her soon</a></li>
    </ol>
  </section>

<!--
  <section>
    <h2>nikolai's current preoccupations</h2>
    {% include current_preoccupations.md %}
  </section>


  <section>
    <h2>a list of nikolai's longform weblog postings</h2>
    <ul class="posts">
      {% for post in site.posts %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </section> -->


  <section>
    <h2>first, i shall entertain you with a bit of art</h2>
    <ul>
      <li><a href="/projects/video">videos by nikolai warner</a></li>
      <li><a href="/projects/games">games by nikolai warner</a></li>
    </ul>
  </section>


  <section>
    <h2>here you find some of my other projects</h2>
    <ul>
       <li><a href="http://phrays.com" rel="me">phrays: a game for word nerds</a></li>
       <li><a href="http://dinosaurs.tumblr.com" rel="me">nikolai's animated gif blog</a></li>
       <li><a href="/projects/apps/status" rel="me">odd stats about nick</a></li>
    </ul>
  </section>


  <section>
    <h2>lastly, instances of nikolai across the great, vast internet</h2>
    <ul>
      <li><a href="https://docs.google.com/document/d/1UqUpIigM-5fWbeFNmBGW9G2cJScyNZ2ORsCoQwS_Zp0/edit" rel="me">resume and artist cv</a></li>
      <li><a href="http://github.com/nikolaiwarner" rel="me">github</a></li>
      <li><a href="http://facebook.com/nikolaiwarner" rel="me">facebook</a></li>
      <li><a href="https://secure.vimeo.com/nikolaiwarner" rel="me">vimeo</a></li>
      <li><a href="http://www.flickr.com/photos/nickwarner" rel="me">flickr</a></li>
      <li><a href="http://instagram.com/nikolaiwarner" rel="me">instagram</a></li>
      <li><a href="http://www.last.fm/user/nwarner" rel="me">last.fm</a></li>
      <li><a href="http://open.spotify.com/user/nikolaiwarner" rel="me">spotify</a></li>
      <li><a href="http://lookbook.nu/nikolai" rel="me">lookbook.nu</a></li>
      <li><a href="http://twitter.com/nickwarner" rel="me">twitter</a></li>
      <li><a href="http://www.amazon.com/gp/registry/registry.html?id=3A9RVUAXS1YU9" rel="me">wishlist</a></li>
    </ul>
  </section>

  <footer>
    <section>
      <h2>longing for more? <br/> you can contact me</h2>
      <ul>
        <li>n@nikolaiwarner.com</li>
        <li><a href="tel:+3477462759" rel="me">347.746.2759</a></li>
      </ul>
    </section>
  </footer>

</div>
