<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }} - nwarner, human experience designer</title>
   <meta name="author" content="nick@nwarner.com" />

   <link rel="stylesheet" href="/css/clean.css" type="text/css" media="screen, projection" />
</head>
<body class="{{ page.body_class }}">
  {% include navbar.html %}

  {{ content }}

  {% include analytics.html %}
</body>
</html>
