<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }} - nwarner, human experience designer</title>
   <meta name="author" content="nick@nwarner.com" />

   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body class="{{ page.body_class }}">
  <div class="container">
    <nav>
      <a href='/'>nikolai warner</a>
    </nav>
    {{ content }}
    {% include links.html %}
  </div>

  <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script><script type="text/javascript">_uacct = "UA-102723-2";urchinTracker();</script>
</body>
</html>
